html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  color: #333;
  background-color: #fff;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

a {
  text-decoration: none;
}

table_of_contents {
  line-height: 2em;
}

img {
  max-width: 50%;
  height: auto;
  display: block;
  margin-bottom: 0.2em;
}

figcaption {
  max-width: 50%;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 0.9em;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

video {
  max-width: 50%;
  height: auto;
}

hr {
  color: darkblue;
}

/* If viewport width is 600px or less, change width settings */
@media screen and (max-width: 600px) {
  body {
    max-width: 90%;
  }
  img {
    max-width: 100%;
  }
  video {
    max-width: 100%;
  }
  figcaption {
    max-width: 100%;
  }
}

.date {
  background-color: #ccc;
  margin-bottom: 0.3em;
  padding: 0.3em 0.6em;
  font-size: 0.9em;
  display: inline-block;
  border-radius: 0.6em; /* Rounded corners */
}

.date_toc {
  background-color: #ccc;
  padding: 0 0.4em;
  margin: 0.1em;
  font-size: 0.9em;
  display: inline-block;
  border-radius: 0.6em; /* Rounded corners */
}

/* New Update Badge */
.new-update-badge {
  background-color: #27ae60;
  color: white;
  margin: 0.5em;
  padding: 0.2em 0.6em;
  border-radius: 0.4em;
  font-size: 0.9em;
  font-weight: bold;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 5%; /* Place the button at x % from the bottom of the page */
  right: 47.5%; /* Place the button x % from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: darkblue; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0.5em; /* Some padding */
  border-radius: 0.6em; /* Rounded corners */
  font-size: 1em; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* If viewport width is 600px or less, change width settings */
@media screen and (max-width: 600px) {
  #myBtn {
    bottom: 1%;
    right: 36%;
  }
}
